@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <h1>TagHelper Samples</h1>

    <p>
        This project is a collection of tag helper examples...
    </p>
    <p>
        project description here...
    </p>

    <div class="container" style="margin-top: 30px;">
        <ul class="list-group">
            <li class="list-group-item active">
                <b>Bootstrap Samples</b>
            </li>
            <a class="list-group-item" href="samples/alertTagHelper">
                <i class="fa fa-angle-right pull-right"></i>
                Bootstrap Alert TagHelper
            </a>
            <a class="list-group-item" href="samples/progressBarTagHelper">
                <i class="fa fa-angle-right pull-right"></i>
                Bootstrap ProgessBar TagHelper
            </a>
            <a class="list-group-item" href="samples/ModalTagHelper">
                <i class="fa fa-angle-right pull-right"></i>
                Bootstrap Modal TagHelper
            </a>
            <li class="list-group-item active">
                <b>Markdown Samples</b>
            </li>
            <a class="list-group-item" href="samples/markdowntaghelper">
                <i class="fa fa-angle-right pull-right"></i>
                Markdown TagHelper
            </a>
        </ul>

    </div>
</div>
