body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Sample Page Sections and code highlighting using highlight.js */
.sample {
    margin:0 0 10px;
    padding: 10px 0 30px;
    border-bottom: 1px solid silver;
}
.no-border {
    border: none;
}
.sample pre {
    background-color: transparent !important;
    border: none;
}
code.hljs {
    padding: 12px 15px !important;
}
hr { margin: 12px 0;}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}
