@using TagHelperSamples.Model
@{
    ViewBag.Title = "Modal TagHelper";
}

<h2>Modal TagHelper</h2>
<hr />
<p><i class="small">contributed by <a href="https://twitter.com/Dave_Paquette">David Paquette</a></i></p>
<p>This collection of tag helpers provides a less verbose syntax for showing a <a href="http://getbootstrap.com/javascript/#modals">Bootstrap Modal</a>.</p>
<p>The <strong>modal</strong> requires an <em>id</em> and a <em>title</em> attribute. The body of the modal is placed in the <strong>modal-body</strong> tag helper while the footer (buttons) are optionally placed in the <strong>modal-footer</strong> tag helper. </p>
 <p>Buttons or other elements can be used to toggle the modal by adding the <strong>bs-toggle-modal</strong> tag helper attribute and referencing the id of the modal.</p>

<div class="sample">
    <h3>Simple Modal:</h3>
    <button type="button" 
            class="btn btn-primary btn-lg" 
            bs-toggle-modal="simpleModal">
        Launch modal
    </button>
    <modal id="simpleModal" 
                title="Modal Title" >
        <modal-body>
            <h4>Something happened</h4>
            <p>Something happened</p>
        </modal-body>
    </modal>

    <h4>Code:</h4>
    <pre><code class="html">&lt;button type=&quot;button&quot; 
        class=&quot;btn btn-primary btn-lg&quot; 
        bs-toggle-modal=&quot;simpleModal&quot;&gt;
    Launch modal
&lt;/button&gt;
&lt;modal id=&quot;simpleModal&quot; 
            title=&quot;Modal Title&quot; &gt;
    &lt;modal-body&gt;
        &lt;h4&gt;Something happened&lt;/h4&gt;
        &lt;p&gt;Something happened&lt;/p&gt;
    &lt;/modal-body&gt;
&lt;/modal&gt;</code></pre>
</div>


<div class="sample">
    <h3>Simple Modal toggle from Anchor Tag:</h3>
<a href="#" bs-toggle-modal="simpleModalFromAnchor">
    Launch modal
</a>
<modal id="simpleModalFromAnchor"
        title="Modal Title">
    <modal-body>
        <h4>Something happened</h4>
        <p>Something happened</p>
    </modal-body>
</modal>

    <h4>Code:</h4>
    <pre><code class="html">
&lt;a href=&quot;#&quot; bs-toggle-modal=&quot;simpleModalFromAnchor&quot;&gt;
    Launch modal
&lt;/a&gt;
&lt;modal id=&quot;simpleModalFromAnchor&quot;
        title=&quot;Modal Title&quot;&gt;
    &lt;modal-body&gt;
        &lt;h4&gt;Something happened&lt;/h4&gt;
        &lt;p&gt;Something happened&lt;/p&gt;
    &lt;/modal-body&gt;
&lt;/modal&gt;</code></pre>
</div>

<div class="sample">
    <h3>Simple Modal with Footer:</h3>
<button type="button"
        class="btn btn-primary btn-lg"
        bs-toggle-modal="simpleModalWithFooter">
    Launch modal
</button>
<modal id="simpleModalWithFooter"
        title="Modal Title">
    <modal-body>
        <h4>Something happened</h4>
        <p>Something happened</p>
    </modal-body>
    <modal-footer dismiss-text="Close">
        <button type="button" class="btn btn-primary">Save Changes</button>
    </modal-footer>
</modal>

    <h4>Code:</h4>
    <pre><code class="html">
&lt;button type=&quot;button&quot;
        class=&quot;btn btn-primary btn-lg&quot;
        bs-toggle-modal=&quot;simpleModalWithFooter&quot;&gt;
    Launch modal
&lt;/button&gt;
&lt;modal id=&quot;simpleModalWithFooter&quot;
        title=&quot;Modal Title&quot;&gt;
    &lt;modal-body&gt;
        &lt;h4&gt;Something happened&lt;/h4&gt;
        &lt;p&gt;Something happened&lt;/p&gt;
    &lt;/modal-body&gt;
    &lt;modal-footer dismiss-text=&quot;Close&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Save Changes&lt;/button&gt;
    &lt;/modal-footer&gt;
&lt;/modal&gt;</code></pre>
</div>

<div class="sample">
    <h3>Modal containing other tag helpers:</h3>
<button type="button"
        class="btn btn-primary btn-lg"
        bs-toggle-modal="nestedExample">
    Launch modal
</button>
<modal id="nestedExample"
            title="Modal with Tag Helpers in it"
            confirm-text="Keep Going">
    <modal-body>
        <h4>Something happened</h4>
        <p>Something happened</p>
        <div bs-progress-value="25"></div>
        <alert message="You are only 25% done."></alert>
    </modal-body>
    <modal-footer show-dismiss="false">
        <button type="button" class="btn btn-primary">Keep Going</button>
    </modal-footer>
</modal>

    <h4>Code:</h4>
    <pre><code class="html">&lt;button type=&quot;button&quot;
        class=&quot;btn btn-primary btn-lg&quot;
        bs-toggle-modal=&quot;nestedExample&quot;&gt;
    Launch modal
&lt;/button&gt;
&lt;modal id=&quot;nestedExample&quot;
            title=&quot;Modal with Tag Helpers in it&quot;
            confirm-text=&quot;Keep Going&quot;&gt;
    &lt;modal-body&gt;
        &lt;h4&gt;Something happened&lt;/h4&gt;
        &lt;p&gt;Something happened&lt;/p&gt;
        &lt;div bs-progress-value=&quot;25&quot;&gt;&lt;/div&gt;
        &lt;alert message=&quot;You are only 25% done.&quot;&gt;&lt;/alert&gt;
    &lt;/modal-body&gt;
    &lt;modal-footer show-dismiss=&quot;false&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Keep Going&lt;/button&gt;
    &lt;/modal-footer&gt;
&lt;/modal&gt;
</code></pre>
</div>