@using System.Threading.Tasks
@using TagHelperSamples.Web.Model
@model TagHelperSamples.Web.Model.TestModel
@{
    ViewBag.Title = "Alert TagHelper";
}
<h2>Alert Tag Helper</h2>
<hr />

<p>
    <i class="small">contributed by <a href="http://weblog.west-wind.com">Rick Strahl</a></i>
</p>

<p>
    under construction
</p>

<div class="sample">
    <h3>Simple Model Binding</h3>

<form action="" method="POST">
    <text-entry id="Header" label-text="Header" for="Header"></text-entry>
    <text-entry id="Message" label-text="Message" for="Message"></text-entry>

    @Html.ValidationMessage("Header")

    <button type="Submit">Update</button>
</form>

    <h4>Code:</h4>
    <pre><code class="html">&lt;form action=&quot;&quot; method=&quot;POST&quot;&gt;
    &lt;text-entry id=&quot;Header&quot; label-text=&quot;Header&quot; for=&quot;Header&quot;&gt;&lt;/text-entry&gt;
    &lt;text-entry id=&quot;Message&quot; label-text=&quot;Message&quot; for=&quot;Message&quot;&gt;&lt;/text-entry&gt;
    &lt;button type=&quot;Submit&quot;&gt;Update&lt;/button&gt;
&lt;/form&gt;</code></pre>
</div>

