@using System.Threading.Tasks
@using TagHelperSamples.Model
@model TagHelperSamples.Model.TestModel
@{
    ViewData["Title"] = "About";
}
<h2>Tag Helper Samples</h2>
<hr />

<div class="sample">
    <h3>Progress bar Tag Helper</h3>

    <div bs-progress-value="@Model.CurrentProgress" class="masthead"
         bs-progress-max="100"
         bs-progress-min="0">
    </div>
</div>

<div class="sample">
    <h3>Alert TagHelper</h3>
    <alert message="Thank you for completing our survey." icon="success"></alert>

    <alert message="@Model.Message" icon="warning"           
           dismissible="true">
    </alert>

    <alert message="@Model.Message" icon="danger"
           header="Error!"
           dismissible="true">
    </alert>
</div>